@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: lightcyan;
}

.text-center {
    text-align: center
}

.family-sans-serif {
    font-family: sans-serif;
}

.text-color-tomato {
    color: hsl(4, 82%, 56%);
}

.text-color-dark-cyan {
    color: rgba(0, 139, 139, 0.85);
}

.text-decoration-none {
    text-decoration: none;
}

a,
a:visited,
a:focus {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    color: rgb(19, 112, 128);
    text-shadow: 1px 2px rgba(39, 12, 194, 0.5);
}

#todays-challenge {
    color: rgb(170, 96, 83);
    font-weight: bolder;
    font-size: 52px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 5vh auto;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.6);
}